<section class="bg-gray-100">
    <div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-16 lg:px-6">
    <div class="max-w-screen-sm mx-auto text-center flex flex-col items-center justify-center">
    <h2 class="mb-4 text-3xl font-extrabold leading-tight tracking-tight text-gray-900">Do you have any credits on your account?</h2>
    <p class="mb-6 font-light text-gray-500 dark:text-gray-400 md:text-lg">Try Vispy Platform.</p>
    <div class="flex items-center gap-2">
        <img src="assets/images/payment/mastercard.png" width="50" alt="payment-card">
        <img src="assets/images/payment/amex.png" width="50" alt="payment-card">
        <img src="assets/images/payment/discover.png" width="50" alt="payment-card">
        <img src="assets/images/payment/paypal.png" width="50" alt="payment-card">
        <img src="assets/images/payment/visa.png" width="50" alt="payment-card">
    </div> 
    </div>
    </div>
</section>