<div class="bg-gray-100 flex items-center gap-2 justify-around">
    <div  [@bounceIn]
    *ngIf="isVisible" class="p-4 grayscale transition duration-200 hover:grayscale-0">
        <img src="assets/images/autobild.webp" class="h-6 w-auto mx-auto" loading="lazy" alt="client logo" >
      </div>
    <div  [@bounceIn]
    *ngIf="isVisible" class="p-4 grayscale transition duration-200 hover:grayscale-0">
      <img src="assets/images/forbes.webp" class="h-6 w-auto mx-auto" loading="lazy" alt="client logo">
    </div>
    <div  [@bounceIn]
    *ngIf="isVisible" class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
      <img src="assets/images/reuters.webp" class="h-6 w-auto m-auto" loading="lazy" alt="client logo" >
    </div>
    <div  [@bounceIn]
    *ngIf="isVisible" class="p-4 grayscale transition duration-200 hover:grayscale-0">
        <img src="assets/images/topgear.webp" class="h-6 w-auto mx-auto" loading="lazy" alt="client logo" >
      </div>      
</div>