<section class="bg-gray-100 flex items-center justify-center animated-section" 
    [@bounceIn]
    *ngIf="isVisible"
    >
    <div class="p-6 bg-white shadow-lg rounded-tr-3xl rounded-bl-3xl text-center -m-9 mb-6">
      <div class="flex items-center justify-center mb-4">
        <ng-icon name="heroUserGroup" class="w-10 h-10 mr-2 text-primary"></ng-icon>
        <h2 class="text-xl font-bold text-gray-800 fade-in">
            More than <span class="text-green-500">1,800,000</span> people in <span class="text-green-500">28 countries have faith in us.</span>
        </h2>
      </div>
      <p class="text-gray-600 fade-in">
        We take pride in being millions of people's first choice globally, providing quality and reliability.
      </p>
    </div>
</section>