<section class="">
    <div class="py-12 bg-white">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="lg:text-center">
                <h2
                    class="font-heading mb-4 bg-green-100 text-green-800 px-4 py-2 rounded-lg md:w-64 md:mx-auto text-xs font-semibold tracking-widest text-black uppercase title-font">
                    Our Missions </h2>
                <p class="font-heading mt-2 text-3xl leading-8 font-semibold tracking-tight text-gray-900 sm:text-4xl">
                    Empowering Your Automotive Journey with Transparency and Insight.</p>
                <p class="mt-4 text-lg text-gray-500 lg:mx-auto">Our commitment to transparency ensures that you can trust the information you receive, fostering a sense of security and peace of mind in every transaction. With our insights, you can drive away with confidence, knowing you have chosen a car that meets your standards for safety, reliability, and value. Join us in transforming uncertainty into knowledge and empowering your automotive journey with the clarity and assurance you deserve.</p>
            </div>
            <div class="mt-10">
                <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-1 md:gap-x-8 md:gap-y-10">
                    <div class="relative">
                        <dt>
                            <div
                                class="absolute flex items-center justify-center h-12 w-12 rounded-full bg-primary text-white">
                                <ng-icon name="heroLightBulb" class="w-8 h-8"></ng-icon>
                            </div>
                            <p class="font-heading ml-16 text-lg leading-6 font-bold text-primary">Empowering Informed Decisions</p>
                        </dt>
                        <dd class="mt-2 ml-16 text-base text-gray-500">Our mission is to empower car buyers and sellers with the knowledge and insights necessary to make informed decisions. In today's fast-paced automotive market, it's crucial to have access to comprehensive information that unveils every aspect of a vehicle's history and current condition. We provide detailed reports that cover everything from ownership history and accident reports to safety ratings and market trends. Our goal is to equip you with the tools you need to choose wisely, whether you're purchasing your dream car or selling a beloved vehicle. By ensuring you have a clear understanding of a car's evolution, we help you navigate the complexities of the automotive landscape with confidence and peace of mind. </dd>
                    </div>
                    <div class="relative">
                        <dt>
                            <div
                                class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-primary text-white">
                                <ng-icon name="heroEye" class="w-8 h-8"></ng-icon>
                            </div>
                            <p class="font-heading ml-16 text-lg leading-6 font-bold text-primary">Transparency at Every Turn</p>
                        </dt>
                        <dd class="mt-2 ml-16 text-base text-gray-500"> Transparency is the foundation of our mission. We believe that every car transaction should be straightforward and honest, free from hidden surprises and uncertainties. To achieve this, we offer in-depth reports that reveal the true history of a vehicle, from past accidents and repairs to service records and title status. Our commitment to transparency means that you can trust the information you receive, empowering you to make decisions that are right for you. Whether you're a buyer looking for a reliable vehicle or a seller seeking to present your car accurately, our reports provide the clarity and detail needed to foster trust and integrity in every transaction. </dd>
                    </div>
                    <div class="relative">
                        <dt>
                            <div
                                class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-primary text-white">
                                <ng-icon name="heroShieldCheck" class="w-8 h-8"></ng-icon>
                            </div>
                            <p class="font-heading ml-16 text-lg leading-6 font-bold text-primary">Driving Safer Choices
                            </p>
                        </dt>
                        <dd class="mt-2 ml-16 text-base text-gray-500"> Safety is at the heart of everything we do. Our mission is to help you make safer choices by providing detailed reports that highlight potential risks associated with a vehicle. We cover critical safety information, including past accidents, recall notices, and safety ratings, ensuring you have a complete picture of a car's safety profile. By prioritizing safety, we aim to protect you and your loved ones on the road, giving you the confidence that comes from knowing you're driving a vehicle that meets your standards for safety and reliability. Our dedication to safety ensures that your next car isn't just a purchase but a trusted partner on your journey.</dd>
                    </div>
                    <div class="relative">
                        <dt>
                            <div
                                class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-primary text-white">
                                <ng-icon name="heroArrowTrendingUp" class="w-8 h-8"></ng-icon>
                            </div>
                            <p class="font-heading ml-16 text-lg leading-6 font-bold text-primary">Maximizing Your Car's Value
                            </p>
                        </dt>
                        <dd class="mt-2 ml-16 text-base text-gray-500">  We understand that selling a car can be a complex process, and our mission is to help you maximize your car's value by providing detailed reports that showcase its strengths and key selling points. Our reports highlight factors such as low mileage, excellent maintenance records, and unique features that can enhance your vehicle's appeal to potential buyers. By presenting your car with transparency and accuracy, we enable quicker sales and better deals. Our mission is to ensure that you receive the best possible return on your investment, transforming the selling process into a smooth and rewarding experience. </dd>
                    </div>
                    <div class="relative">
                        <dt>
                            <div
                                class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-primary text-white">
                                <ng-icon name="heroXCircle" class="w-8 h-8"></ng-icon>
                            </div>
                            <p class="font-heading ml-16 text-lg leading-6 font-bold text-primary">
                                Preventing Costly Mistakes
                            </p>
                        </dt>
                        <dd class="mt-2 ml-16 text-base text-gray-500">
                            Making a poor decision when buying or selling a car can lead to significant financial and emotional stress. Our mission is to prevent such costly mistakes by providing thorough reports that identify potential red flags, such as hidden damage, inconsistent mileage, or unresolved recalls. We aim to safeguard your investment by ensuring you are fully informed about the vehicle's condition and history before making a commitment. With our detailed insights, you can avoid the pitfalls of automotive transactions and make choices that align with your best interests. Our focus on prevention means that you can navigate the car market with confidence and assurance.
                        </dd>
                    </div>
                    <div class="relative">
                        <dt>
                            <div
                                class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-primary text-white">
                                <ng-icon name="heroChartBar" class="w-8 h-8"></ng-icon>
                            </div>
                            <p class="font-heading ml-16 text-lg leading-6 font-bold text-primary">
                                Innovating Vehicle Insights
                            </p>
                        </dt>
                        <dd class="mt-2 ml-16 text-base text-gray-500">
                            In an ever-evolving automotive landscape, innovation is key to staying ahead. Our mission is to lead the way in vehicle insights by providing cutting-edge reports that offer a comprehensive view of a car's evolution. We leverage the latest technology to ensure accuracy and depth in our reports, covering everything from advanced diagnostic data to predictive maintenance trends. By continuously enhancing our offerings, we provide you with the most relevant and up-to-date information, empowering you to make decisions that reflect the future of automotive technology and trends. Our commitment to innovation ensures that you're always equipped with the best tools to succeed in the car market.
                        </dd>
                    </div>
                    <div class="relative">
                        <dt>
                            <div
                                class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-primary text-white">
                                <ng-icon name="heroHeart" class="w-8 h-8"></ng-icon>
                            </div>
                            <p class="font-heading ml-16 text-lg leading-6 font-bold text-primary">
                                Building Trust in Every Transaction
                            </p>
                        </dt>
                        <dd class="mt-2 ml-16 text-base text-gray-500">
                            Trust is the cornerstone of our mission. In every car transaction, whether buying or selling, trust is essential to ensuring a smooth and successful experience. We are dedicated to building trust by delivering accurate, reliable, and detailed vehicle reports that facilitate honest and transparent dealings. Our comprehensive reports leave no stone unturned, covering aspects such as previous ownership, accident history, service records, and more. By providing complete transparency, we enable both buyers and sellers to engage with confidence and peace of mind, knowing that all parties have access to the same critical information. Our focus on trust fosters long-lasting relationships and positive outcomes in the automotive marketplace.
                        </dd>
                    </div>
                    <div class="relative">
                        <dt>
                            <div
                                class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-primary text-white">
                                <ng-icon name="heroLightBulb" class="w-8 h-8"></ng-icon>
                            </div>
                            <p class="font-heading ml-16 text-lg leading-6 font-bold text-primary">
                                Supporting Smart Car Buyers
                            </p>
                        </dt>
                        <dd class="mt-2 ml-16 text-base text-gray-500">
                            In today's dynamic car market, being a smart buyer is more important than ever. Our mission is to support smart car buyers by equipping them with the tools and information necessary to make informed decisions. We provide detailed reports that cover all aspects of a car’s past and present, from ownership history and accident reports to maintenance records and safety ratings. Our goal is to ensure that you have a clear understanding of the vehicle you're considering, allowing you to negotiate effectively and choose wisely. By supporting your journey as a smart buyer, we help you secure the best value for your investment and drive away with confidence.
                        </dd>
                    </div>
                    <div class="relative">
                        <dt>
                            <div
                                class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-primary text-white">
                                <ng-icon name="heroClock" class="w-8 h-8"></ng-icon>
                            </div>
                            <p class="font-heading ml-16 text-lg leading-6 font-bold text-primary">
                                Streamlining the Selling Process
                            </p>
                        </dt>
                        <dd class="mt-2 ml-16 text-base text-gray-500">
                            Selling a car can be a daunting task, filled with challenges and uncertainties. Our mission is to streamline the selling process by offering reports that highlight a vehicle's key features and history in a clear and compelling manner. By providing potential buyers with detailed information, we help sellers present their vehicles accurately and attractively, leading to quicker sales and more favorable outcomes. Our reports cover everything from maintenance records and mileage verification to market value analysis, ensuring that you have the insights needed to succeed in the competitive car market. Our mission is to make selling your car a seamless and rewarding experience.
                        </dd>
                    </div>
                    <div class="relative">
                        <dt>
                            <div
                                class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-primary text-white">
                                <ng-icon name="heroCheckBadge" class="w-8 h-8"></ng-icon>
                            </div>
                            <p class="font-heading ml-16 text-lg leading-6 font-bold text-primary">
                                Ensuring Quality and Reliability
                            </p>
                        </dt>
                        <dd class="mt-2 ml-16 text-base text-gray-500">
                            When it comes to purchasing a vehicle, quality and reliability are paramount. Our mission is to ensure that the cars you consider meet your expectations for performance and dependability. We provide reports that focus on a car’s maintenance history, repair records, and reliability metrics, helping you choose a vehicle that aligns with your standards. By highlighting a car’s strengths and potential areas of concern, we enable you to make decisions that prioritize quality and long-term satisfaction. Our commitment to ensuring quality and reliability means that your next car isn't just a purchase but a trusted partner on the road ahead.
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>
</section>