<div class="text-gray-600 py-4 bg-gray-100" id="reviews">
    <div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
      <div class="mb-20 space-y-4 px-6 md:px-0">
        <h2 class="text-center text-xl font-bold text-primary md:text-4xl">
          Remarks from Users Regarding Our Service
        </h2>
      </div><div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
        <div  [@bounceIn]
        *ngIf="isVisible" class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white shadow-2xl shadow-gray-600/10">
          <div class="flex gap-4">
            <img class="w-12 h-12 rounded-full" src="assets/images/users/avatar.webp" alt="user avatar" width="400" height="400" loading="lazy">
            <div>
              <h6 class="text-lg font-medium text-gray-700">Daniella Doe</h6>
              <p class="text-sm text-gray-500">California</p>
            </div>
          </div>
          <p class="mt-8">Getting a comprehensive car report was a game-changer when I decided to sell my car. The report highlighted my car’s strong safety features and accident-free history, which really boosted buyer confidence. I ended up selling it much faster than expected and at a great price. Highly recommended for anyone looking to make a smooth sale!</p>
        </div>
        <div  [@bounceIn]
        *ngIf="isVisible" class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white shadow-2xl shadow-gray-600/10">
          <div class="flex gap-4">
            <img class="w-12 h-12 rounded-full" src="assets/images/users/avatar-1.webp" alt="user avatar" width="200" height="200" loading="lazy">
            <div>
              <h6 class="text-lg font-medium text-gray-700">Jane doe</h6>
              <p class="text-sm text-gray-500">Texas</p>
            </div>
          </div>
          <p class="mt-8">I was initially skeptical about spending money on a car report, but it was totally worth it. It provided detailed insights into my car’s condition, allowing me to address a couple of minor issues before listing it. It made negotiations easier and ensured I got a fair price without any surprises. Would definitely use this service again.</p>
        </div>
        <div  [@bounceIn]
        *ngIf="isVisible" class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white shadow-2xl shadow-gray-600/10">
          <div class="flex gap-4">
            <img class="w-12 h-12 rounded-full" src="assets/images/users/avatar-2.webp" alt="user avatar" width="200" height="200" loading="lazy">
            <div>
              <h6 class="text-lg font-medium text-gray-700">Yanick Doe</h6>
              <p class="text-sm text-gray-500">Florida</p>
            </div>
          </div>
          <p class="mt-8">The car report was invaluable for ensuring the safety of my vehicle. It revealed a recall issue I was unaware of, which I promptly fixed. Not only did this make my car safer, but it also enhanced its resale value. Selling the car afterward was hassle-free, and I felt confident I was offering a reliable vehicle.</p>
        </div>
        <div  [@bounceIn]
        *ngIf="isVisible" class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white shadow-2xl shadow-gray-600/10">
          <div class="flex gap-4">
            <img class="w-12 h-12 rounded-full" src="assets/images/users/avatar-3.webp" alt="user avatar" width="200" height="200" loading="lazy">
            <div>
              <h6 class="text-lg font-medium text-gray-700">Jane Doe</h6>
              <p class="text-sm text-gray-500">Washington</p>
            </div>
          </div>
          <p class="mt-8">I used the car report service when buying a used car. It helped me avoid a bad purchase by uncovering hidden damage that the seller hadn’t disclosed. This transparency saved me from making a costly mistake and encouraged me to find a better deal elsewhere. Essential for any used car transaction!</p>
        </div>
        <div  [@bounceIn]
        *ngIf="isVisible" class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white shadow-2xl shadow-gray-600/10">
          <div class="flex gap-4">
            <img class="w-12 h-12 rounded-full" src="assets/images/users/avatar-4.webp" alt="user avatar" width="200" height="200" loading="lazy">
            <div>
              <h6 class="text-lg font-medium text-gray-700 ">Andy Doe</h6>
              <p class="text-sm text-gray-500">New York</p>
            </div>
          </div>
          <p class="mt-8">Selling my old car was a breeze after obtaining a detailed report. It documented my car’s full service history and highlighted its well-maintained condition, which really appealed to buyers. The report added credibility to my listing, and I was able to close the deal quickly at a price I was happy with.</p>
        </div>
        <div  [@bounceIn]
        *ngIf="isVisible" class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white shadow-2xl shadow-gray-600/10">
          <div class="flex gap-4">
            <img class="w-12 h-12 rounded-full" src="assets/images/users/avatar-2.webp" alt="user avatar" width="400" height="400" loading="lazy">
            <div>
              <h6 class="text-lg font-medium text-gray-700">Yanndy Doe</h6>
              <p class="text-sm text-gray-500">Illinois</p>
            </div>
          </div>
          <p class="mt-8">As a first-time seller, I wasn’t sure how to present my car to potential buyers. The car report provided all the information I needed, from safety ratings to maintenance records. It made the selling process straightforward and efficient, helping me avoid lowball offers and poor transactions. A must-have for any seller!</p>
        </div>
  
      </div>
  </div>
  </div>