<div class="py-4 bg-gray-50">
    <div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-primary">
        <path fill-rule="evenodd" d="M2.25 13.5a8.25 8.25 0 018.25-8.25.75.75 0 01.75.75v6.75H18a.75.75 0 01.75.75 8.25 8.25 0 01-16.5 0z" clip-rule="evenodd"></path>
        <path fill-rule="evenodd" d="M12.75 3a.75.75 0 01.75-.75 8.25 8.25 0 018.25 8.25.75.75 0 01-.75.75h-7.5a.75.75 0 01-.75-.75V3z" clip-rule="evenodd"></path>
      </svg><div class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
        <div class="md:5/12 lg:w-1/2" [@svgIn] *ngIf="isVisible">
          <img src="assets/images/pie.svg" alt="image" loading="lazy" class="w-full">
        </div>
        <div class="md:7/12 lg:w-1/2" [@textBounceIn] *ngIf="isVisible">
          <h2 class="text-3xl font-bold text-gray-900 md:text-4xl">
            Increase Sales At Your Dealership
          </h2>
          <p class="my-8 text-gray-600">
            Our products are designed to bring unparalleled transparency and efficiency to your automotive firm. By leveraging cutting-edge technology, we provide detailed insights into vehicle histories, safety records, and maintenance needs, ensuring that your customers have access to all the information they need to make informed decisions.
            <br> <br> In addition to transparency, our solutions streamline your operations, making your business more efficient and customer-focused. Automating routine tasks and improving data management allows your team to focus on delivering exceptional service and personalized experiences. This enhanced customer engagement boosts satisfaction and loyalty, driving growth and success for your automotive firm in a competitive market.
          </p>
          <div class="divide-y space-y-4 divide-gray-100">
            <div class="mt-8 flex gap-4 md:items-center">
              <div class="w-12 h-12 flex gap-4 rounded-full bg-green-100">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 m-auto text-secondary">
                    <path fill-rule="evenodd" d="M9 16.17L4.83 12a1 1 0 00-1.41 1.41l4.59 4.59a1 1 0 001.41 0l9-9a1 1 0 10-1.41-1.41L9 16.17z" clip-rule="evenodd"/>
                  </svg>                         
              </div>
              <div class="w-5/6">
                <h3 class="font-semibold text-lg text-gray-700">Reduce Cost</h3>
                <p class="text-gray-500">Cut down on the possibility of unforeseen expenses</p>
              </div> 
            </div> 
            <div class="pt-4 flex gap-4 md:items-center">
              <div class="w-12 h-12 flex gap-4 rounded-full bg-green-100">  
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 m-auto text-secondary">
                    <path fill-rule="evenodd" d="M9 16.17L4.83 12a1 1 0 00-1.41 1.41l4.59 4.59a1 1 0 001.41 0l9-9a1 1 0 10-1.41-1.41L9 16.17z" clip-rule="evenodd"/>
                  </svg>                                                      
              </div>
              <div class="w-5/6">
                <h3 class="font-semibold text-lg text-gray-700">Simplicity</h3>
                <p class="text-gray-500 ">Simplify the process of evaluating cars</p>
              </div> 
            </div> 
            <div class="pt-4 flex gap-4 md:items-center">
              <div class="w-12 h-12 flex gap-4 rounded-full bg-green-100">  
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 m-auto text-secondary">
                    <path fill-rule="evenodd" d="M9 16.17L4.83 12a1 1 0 00-1.41 1.41l4.59 4.59a1 1 0 001.41 0l9-9a1 1 0 10-1.41-1.41L9 16.17z" clip-rule="evenodd"/>
                  </svg>
                                                      
              </div>
              <div class="w-5/6">
                <h3 class="font-semibold text-lg text-gray-700">Sales</h3>
                <p class="text-gray-500 ">Increase sales more quickly.</p>
              </div> 
            </div>
            <button class="relative my-2 group overflow-hidden px-6 h-12 rounded-full flex space-x-2 items-center bg-gradient-to-r from-secondary to-slate-900 hover:to-slate-700">
                <span class="relative text-sm text-white">Become a Business Partner</span>
                <div class="flex items-center -space-x-3 translate-x-3">
                  <div class="w-2.5 h-[1.6px] rounded bg-white origin-left scale-x-0 transition duration-300 group-hover:scale-x-100"></div>
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 stroke-white -translate-x-2 transition duration-300 group-hover:translate-x-0" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
                  </svg>
                </div>
              </button> 
          </div>
        </div>
      </div>
</div>
</div>