<div>
    <div class="container px-8 mx-auto xl:px-5  max-w-screen-lg py-5 lg:py-8">
        <h1
            class="mt-2 mb-3 text-3xl font-semibold tracking-tight text-center lg:leading-snug text-brand-primary lg:text-4xl">
            Who We Are</h1>
        <div class="text-center">
            <p class="text-lg">
                At Vehicle Insight Solutions, we are committed to empowering car buyers and sellers with the information they need to make confident and informed decisions. Our comprehensive vehicle reports provide a detailed overview of a car’s history, safety features, market value, and more, ensuring transparency and trust in every transaction.
            </p>
        </div>
    </div>
</div>
<div class="bg-slate-100 py-4">
    <div class="relative max-w-screen-xl px-4 sm:px-2 mx-auto grid grid-cols-12 gap-x-6">
        <div class="col-span-12 lg:col-span-6">
            <div class="w-full sm:mt-20 xl:mt-0">
                <img src="https://images.unsplash.com/photo-1453396450673-3fe83d2db2c4?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bWFuJTIwaW4lMjAzJTIwcGllY2UlMjBzdWl0ZXxlbnwwfHwwfHx8MA%3D%3D" alt=""
                    class="w-full rounded-tl-3xl rounded-br-3xl">
            </div>
        </div>
        <div class="col-span-12 lg:col-span-6 space-y-8 sm:space-y-6 px-4 sm:px-6"
        >
            <h2 class="text-4xl text-primary font-semibold">CEO's <span class="text-header-gradient"
                >Message</span></h2>
            <div class="space-y-2">
                <h4 class="text-lg font-medium">Dear Valued Customers, </h4>
                <p class="paragraph text-sm xl:text-base">
                    Welcome to Vehicle Insight Solutions. As the CEO of this innovative and customer-centric company, I am thrilled to share our journey and vision with you.
    
                    In today's rapidly evolving automotive market, making informed decisions is more important than ever. Whether you are buying your first car, upgrading to a new model, or selling your current vehicle, understanding the full picture is crucial. At Vehicle Insight Solutions, we recognize the challenges and uncertainties you may face in these transactions. That’s why we are committed to providing you with the transparency and insights you need to navigate the automotive landscape confidently.
                </p>
            </div>
            <div class="space-y-2">
                <h4 class="text-lg font-medium">Our Commitment to You</h4>
                <p class="paragraph text-sm xl:text-base">
                    Our mission is simple yet profound: to empower every car buyer and seller with the knowledge they need to make smart, safe, and successful transactions. We achieve this by offering detailed, accurate, and comprehensive vehicle reports that reveal the true history and condition of every car. Our services are designed to eliminate guesswork, reduce risk, and enhance the value of your automotive decisions.
    
                    Transparency and trust are the cornerstones of our business. We believe that every customer deserves access to reliable information, and we are dedicated to delivering this through our innovative technology and expert analysis. Our team of automotive specialists, data analysts, and customer service professionals work tirelessly to ensure that the information we provide is accurate, up-to-date, and tailored to your unique needs.
                </p>
            </div>
            <div class="space-y-2">
                <h4 class="text-lg font-medium">Driving Innovation and Excellence</h4>
                <p class="paragraph text-sm xl:text-base">
                    At Vehicle Insight Solutions, we pride ourselves on staying ahead of industry trends and leveraging cutting-edge technology to provide the best possible service to our customers. We continuously invest in research and development to enhance our offerings and deliver value beyond expectations.
    
    We understand that the automotive journey is a significant milestone in many people's lives, and we are honored to be part of that journey. Our comprehensive vehicle reports are designed to provide peace of mind and confidence, enabling you to make decisions that align with your goals and priorities.
                </p>
            </div>
        </div>
    </div>

</div>

<section class="bg-trading-tools relative max-w-full sm:mx-4 xl:mx-10 my-8 shadow sm:rounded-2xl overflow-hidden"
>
    <div class="w-full py-16 flex flex-col items-center">
        <h2 class="text-3xl text-primary sm:text-4xl font-semibold text-center"
        >
            Our Team
        </h2>
        <div
            class="relative w-full flex flex-col gap-2 lg:flex-row flex-wrap items-center justify-between space-y-12 lg:space-y-0 px-4 xl:px-10 mt-16 sm:mt-8"
        >
            <div class="max-w-[280px] xl:max-w-[363px] space-y-6 sm:space-y-3 text-center"><img
                    src="https://images.unsplash.com/photo-1607746882042-944635dfe10e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDZ8fGdpcmwlMjBhdmF0YXJ8ZW58MHx8MHx8fDA%3D" alt="" 
                    class="w-[200px] h-[200px] mx-auto  rounded-tl-3xl rounded-br-3xl">
                <h3 class="text-xl text-neutral-800 font-semibold">Emma Johnson</h3>
                <p class="text-sm text-gray-700 leading-relaxed">
                    Chief Operating Officer (COO)
                </p>
            </div>
            <div class="max-w-[280px] xl:max-w-[363px] space-y-6 sm:space-y-3 text-center"><img
                    src="https://plus.unsplash.com/premium_photo-1689708721750-8a0e6dc14cee?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bWFsZSUyMGF2YXRhcnxlbnwwfHwwfHx8MA%3D%3D" alt="" 
                    class="w-[200px] h-[200px] mx-auto  rounded-tl-3xl rounded-br-3xl">
                <h3 class="text-xl text-neutral-800 font-semibold">Michael Smith</h3>
                <p class="text-sm text-gray-700 leading-relaxed">
                    Chief Technology Officer (CTO)
                </p>
            </div>
            <div class="max-w-[280px] xl:max-w-[363px] space-y-6 sm:space-y-3 text-center"><img
                    src="https://images.unsplash.com/photo-1701615004837-40d8573b6652?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fGdpcmwlMjBhdmF0YXJ8ZW58MHx8MHx8fDA%3D" alt="" 
                    class="w-[200px] h-[200px] mx-auto  rounded-tl-3xl rounded-br-3xl">
                <h3 class="text-xl text-neutral-800 font-semibold">Sophia Brown</h3>
                <p class="text-sm text-gray-700 leading-relaxed">
                    Head of Customer Service
                </p>
            </div> 
            <div class="max-w-[280px] xl:max-w-[363px] space-y-6 sm:space-y-3 text-center"><img
                    src="https://plus.unsplash.com/premium_photo-1689977927774-401b12d137d6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8bWFsZSUyMGF2YXRhcnxlbnwwfHwwfHx8MA%3D%3D" alt="" 
                    class="w-[200px] h-[200px] mx-auto  rounded-tl-3xl rounded-br-3xl">
                <h3 class="text-xl text-neutral-800 font-semibold">James Williams</h3>
                <p class="text-sm text-gray-700 leading-relaxed">
                    Lead Data Analyst
                </p>
            </div> 
            <div class="max-w-[280px] xl:max-w-[363px] space-y-6 sm:space-y-3 text-center"><img
                    src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bWFsZSUyMGF2YXRhcnxlbnwwfHwwfHx8MA%3D%3D" alt="" 
                    class="w-[200px] h-[200px] mx-auto  rounded-tl-3xl rounded-br-3xl">
                <h3 class="text-xl text-neutral-800 font-semibold">Olivia Martinez</h3>
                <p class="text-sm text-gray-700 leading-relaxed">
                    Director of Marketing
                </p>
            </div> 
            <div class="max-w-[280px] xl:max-w-[363px] space-y-6 sm:space-y-3 text-center"><img
                    src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bWFsZSUyMGF2YXRhcnxlbnwwfHwwfHx8MA%3D%3D" alt="" 
                    class="w-[200px] h-[200px] mx-auto  rounded-tl-3xl rounded-br-3xl">
                <h3 class="text-xl text-neutral-800 font-semibold">Lucas Nguyen</h3>
                <p class="text-sm text-gray-700 leading-relaxed">
                    Automotive Expert and Consultant
                </p>
            </div> 
            <div class="max-w-[280px] xl:max-w-[363px] space-y-6 sm:space-y-3 text-center"><img
                    src="https://images.unsplash.com/photo-1607746882042-944635dfe10e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDZ8fGdpcmwlMjBhdmF0YXJ8ZW58MHx8MHx8fDA%3D" alt="" 
                    class="w-[200px] h-[200px] mx-auto  rounded-tl-3xl rounded-br-3xl">
                <h3 class="text-xl text-neutral-800 font-semibold">Emma Johnson</h3>
                <p class="text-sm text-gray-700 leading-relaxed">
                    Chief Operating Officer (COO)
                </p>
            </div>
            <div class="max-w-[280px] xl:max-w-[363px] space-y-6 sm:space-y-3 text-center"><img
                    src="https://plus.unsplash.com/premium_photo-1689708721750-8a0e6dc14cee?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bWFsZSUyMGF2YXRhcnxlbnwwfHwwfHx8MA%3D%3D" alt="" 
                    class="w-[200px] h-[200px] mx-auto  rounded-tl-3xl rounded-br-3xl">
                <h3 class="text-xl text-neutral-800 font-semibold">Michael Smith</h3>
                <p class="text-sm text-gray-700 leading-relaxed">
                    Chief Technology Officer (CTO)
                </p>
            </div>
            <div class="max-w-[280px] xl:max-w-[363px] space-y-6 sm:space-y-3 text-center"><img
                    src="https://images.unsplash.com/photo-1701615004837-40d8573b6652?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fGdpcmwlMjBhdmF0YXJ8ZW58MHx8MHx8fDA%3D" alt="" 
                    class="w-[200px] h-[200px] mx-auto  rounded-tl-3xl rounded-br-3xl">
                <h3 class="text-xl text-neutral-800 font-semibold">Sophia Brown</h3>
                <p class="text-sm text-gray-700 leading-relaxed">
                    Head of Customer Service
                </p>
            </div> 
            <div class="max-w-[280px] xl:max-w-[363px] space-y-6 sm:space-y-3 text-center"><img
                    src="https://plus.unsplash.com/premium_photo-1689977927774-401b12d137d6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8bWFsZSUyMGF2YXRhcnxlbnwwfHwwfHx8MA%3D%3D" alt="" 
                    class="w-[200px] h-[200px] mx-auto  rounded-tl-3xl rounded-br-3xl">
                <h3 class="text-xl text-neutral-800 font-semibold">James Williams</h3>
                <p class="text-sm text-gray-700 leading-relaxed">
                    Lead Data Analyst
                </p>
            </div> 
            <div class="max-w-[280px] xl:max-w-[363px] space-y-6 sm:space-y-3 text-center"><img
                    src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bWFsZSUyMGF2YXRhcnxlbnwwfHwwfHx8MA%3D%3D" alt="" 
                    class="w-[200px] h-[200px] mx-auto  rounded-tl-3xl rounded-br-3xl">
                <h3 class="text-xl text-neutral-800 font-semibold">Olivia Martinez</h3>
                <p class="text-sm text-gray-700 leading-relaxed">
                    Director of Marketing
                </p>
            </div> 
            <div class="max-w-[280px] xl:max-w-[363px] space-y-6 sm:space-y-3 text-center"><img
                    src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bWFsZSUyMGF2YXRhcnxlbnwwfHwwfHx8MA%3D%3D" alt="" 
                    class="w-[200px] h-[200px] mx-auto  rounded-tl-3xl rounded-br-3xl">
                <h3 class="text-xl text-neutral-800 font-semibold">Lucas Nguyen</h3>
                <p class="text-sm text-gray-700 leading-relaxed">
                    Automotive Expert and Consultant
                </p>
            </div> 
        </div>
    </div>
</section>
<div class="bg-slate-100 py-4">
    <div class="relative max-w-screen-xl px-4 sm:px-2 mx-auto grid grid-cols-12 gap-x-6">
        <div class="col-span-12 lg:col-span-6 space-y-8 sm:space-y-6 px-4 sm:px-6"
        >
            <h2 class="text-4xl mt-5 text-primary font-semibold">Our technology  <span class="text-header-gradient"
                >to support you.</span></h2>
            <div class="space-y-2">
                <p class="paragraph text-sm xl:text-base">
                    We innovate every day. Our technology allows us to remain the market leader and provide all our Internet users with an ultra-secure experience . By exploiting our extensive data, we are able to provide the value and rating of vehicles  in real time , and offer purchasing assistance indicators with a precision that is unique on the market.
                </p>
            </div>
           
        </div>
        <div class="col-span-12 lg:col-span-6">
            <div class="w-full sm:mt-20 xl:mt-0">
                <img src="https://images.unsplash.com/photo-1518644730709-0835105d9daa?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fG1hbiUyMHdpdGglMjB0ZWNobm9sb2d5fGVufDB8fDB8fHww" alt=""
                    class="w-full rounded-tl-3xl rounded-br-3xl">
            </div>
        </div>
    </div>
    <div class="relative max-w-screen-xl px-4 sm:px-2 mx-auto grid grid-cols-12 gap-x-6">
        <div class="col-span-12 lg:col-span-6">
            <div class="w-full sm:mt-20 xl:mt-0">
                <img src="https://plus.unsplash.com/premium_photo-1681965663725-157f63d90956?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8bWFsZSUyMHdpdGglMjBjYXIlMjBhbmQlMjBiYWJ5fGVufDB8fDB8fHww" alt=""
                    class="w-full rounded-tl-3xl rounded-br-3xl">
            </div>
        </div>
        <div class="col-span-12 lg:col-span-6 space-y-8 sm:space-y-6 px-4 sm:px-6"
        >
            <h2 class="text-4xl mt-5 text-primary font-semibold">An independent <span class="text-header-gradient"
                >expert at your side.</span></h2>
            <div class="space-y-2">
                <p class="paragraph text-sm xl:text-base">
                    An independent and historic platform , La Centrale puts its expertise at your service to help you realize your project with complete peace of mind.
Whether you want to buy or sell a vehicle, take advantage of reliable and objective resources such as our good deal indicators, advice on vehicle maintenance, financing assistance or rely on a network of certified experts. With La Centrale, you are sure to make the right choice.
                </p>
            </div>
           
        </div>
    </div>

</div>
<app-service></app-service>
<h1
            class="mt-2 mb-3 text-2xl font-bold tracking-tight text-center lg:leading-snug text-primary">
            Our Clients</h1>
<app-clients></app-clients>
<app-payment-cards></app-payment-cards>
