<div class="py-4 bg-green-100">
    <div class="relative container-lg px-4 mx-auto">
        <div class="relative px-6 py-10 overflow-hidden shadow-xl rounded-tr-[4rem] rounded-bl-[4rem] bg-green-600 sm:px-12 sm:py-20">
            <div class="absolute inset-0 -mt-72 sm:-mt-32 md:mt-0">
                <svg class="absolute inset-0 w-full h-full"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 1463 360">
                    <path class="text-green-500 text-opacity-40" fill="currentColor"
                        d="M-82.673 72l1761.849 472.086-134.327 501.315-1761.85-472.086z"></path>
                    <path class="text-green-700 text-opacity-40" fill="currentColor"
                        d="M-217.088 544.086L1544.761 72l134.327 501.316-1761.849 472.086z"></path>
                </svg>
            </div>
            <div class="relative">
                <div class="mb-12 sm:text-center">
                    <h2 class="text-4xl font-extrabold text-white tracking-tight sm:text-4.5xl font-display">
                        Sign up for our newsletter.
                    </h2>
                    <p class="max-w-2xl mx-auto mt-6 text-lg text-cool-indigo-100">
                        Stay connected with us to receive the latest deals, insightful articles, and thrilling updates! <strong class="text-white">Whether you're looking for special promotions, expert advice,</strong> <strong class="text-white"> or exciting announcements,</strong>  we've got you covered.
                    </p>
                </div>
                <form target="_blank"
                     class="sm:mx-auto sm:max-w-lg sm:flex"
                    action="#"
                    method="post">
                    <div class="relative w-full max-w-xl mx-auto bg-white rounded-full h-14 lg:max-w-none">
                        <input
                            class="rounded-full w-[71%] h-14 py-0 sm:pl-6 pl-5 pr-16 sm:pr-32 outline-none 
                             border-gray-100 shadow-md hover:outline-none focus:ring-green-200
                              focus:border-green-200 font-bold text-green-900"
                             required="required" placeholder="Enter your email"
                            autocomplete="email" type="email" name="email" >
                        <button type="submit"
                            class="absolute inline-flex items-center h-12 p-4 text-sm text-white
                             transition duration-300 ease-in-out rounded-r-full rounded-bl-full
                              outline-none right-0 top-1 bg-green-600 
                              sm:py-2 sm:px-6 sm:rounded-full sm:text-base 
                              sm:font-medium hover:bg-green-700 focus:outline-none 
                              focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
    
                            <svg xmlns="http://www.w3.org/2000/svg" class="-ml-0.5 sm:-ml-1 sm:mr-2 h-5 w-5" width="44"
                                height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="10" y1="14" x2="21" y2="3"></line>
                                <path d="M21 3l-6.5 18a0.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a0.55 .55 0 0 1 0 -1l18 -6.5">
                                </path>
                            </svg>
                            <span class="hidden sm:inline-block">
                                Subscribe
                            </span>
                        </button>
                    </div>
                </form>
            </div>
            <p class="text-sm mt-8 z-50 text-white md:text-center font-normal">By subscribing, You may opt out any time. For more details, review our
                <a rel="nofollow noopener noreferrer" class="text-secondary  hover:underline"
                   href="#">Terms of Service</a> and <a
                   class="text-secondary  hover:underline"
                   href="#">Privacy Policy</a>.</p>
        </div>
    </div>
</div>